<ion-view view-title="Zameen Detail" hide-back-button="false">


    <ion-nav-buttons side="secondary">
        <button class="button button-balanced" ui-sref="addEvent">
            Add Event
        </button>
    </ion-nav-buttons>

    <ion-content>
        <div class="list card">

            <div class="item ">

                <h2 ng-bind="currentZameen.title"></h2>
                <p ng-bind="currentZameen.location"></p>

                <p>Balance: {{currentZameen.accountBalance}} </p>
                <p ng-show="currentZameen.createdOn">Added: {{currentZameen.createdOn | date}}</p>
            </div>
            <div class="item item-image">
                <img src="img/khet.jpg">
            </div>
            <!--<div class="item item-body">
                <img class="full-image" src="./img/delorean.jpg">
               
            </div>-->
        </div>
        <!--md-card end-->


        <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->


        <ion-list class="list">
            <div class="item item-divider" id="#zameenList">
                Zameen Events

                <!--<span class="item-note ">-->
                <!--Mark all read-->
                <!--</span>-->


                <span class="badge badge-assertive" ng-show="profileObject.notificationCount" ng-bind="profileObject.notificationCount">

                </span>


            </div>

            <div class="item item-button-right item-checkbox-right" ng-class="zameen.unRead == false  ? 'item item-button-right item-checkbox-right' : 'item item-button-right item-checkbox-right unread'"
                ng-repeat="event in eventList | orderBy: index:true ">

                <div ng-click="showEventDetails(event)">

                    <h2>{{event.name}}</h2>

                    <p>{{event.cost}}</p>

                    <p>{{event.createdOn | date}} </p>

                </div>
                <div class="buttons">

                    <!-- <button class="button button-icon red" ng-show="zameen.unRead">
                         <i class="icon ion-android-notifications"></i>
                     </button>-->
                    <button class="button button-icon" ng-click="deletezameen( [zameen._id] )">
                        <i class="icon ion-android-delete"></i>
                    </button>

                </div>
                <!--<span ng-bind="time | date:'yyyy-MM-dd HH:mm:ss Z'">  </span>-->
            </div>

            <div class="item" ng-show="zameenList.length == 0">no zameen</div>

        </ion-list>

    </ion-content>
</ion-view>