<ion-view view-title="Dashboard" hide-back-button="true">


    <ion-nav-buttons side="primary">
        <button class="button" ng-click="logout()">
            logout
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="secondary">
        <button class="button button-balanced" ui-sref="addZameen">
            Add Zameen
        </button>
    </ion-nav-buttons>

    <ion-content>

        <div class="list card">

            <div class="item">

                <h2 ng-bind="user.firstName +' '+ user.lastName">Zameendar name</h2>

                <p ng-bind="user.email">email</p>

                <p ng-show="user.createdOn">Joined: {{user.createdOn | date}}</p>
            </div>

            <div class="item item-body">
                <!--<img class="full-image" src="./img/delorean.jpg">-->
                <p>
                </p>
            </div>
        </div>
        <!--md-card end-->


        <!--/////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->


        <ion-list class="list">
            <div class="item item-divider" id="#zameenList">
                Zameen List

                <!--<span class="item-note ">-->
                <!--Mark all read-->
                <!--</span>-->


                <span class="badge badge-assertive" ng-show="profileObject.notificationCount" ng-bind="profileObject.notificationCount">

                </span>


            </div>

            <div class="item item-button-right item-checkbox-right" ng-class="zameen.unRead == false  ? 'item item-button-right item-checkbox-right' : 'item item-button-right item-checkbox-right unread'"
                ng-repeat="zameen in zameenList | orderBy: index:true ">

                <div ng-click="showZameenDetails(zameen)">

                    <h2>{{zameen.title}}</h2>

                    <p>{{zameen.location}}</p>

                    <p>{{zameen.createdOn | date}} </p>

                </div>
                <div class="buttons">

                    <!-- <button class="button button-icon red" ng-show="zameen.unRead">
                         <i class="icon ion-android-notifications"></i>
                     </button>-->
                    <button class="button button-icon" ng-click="deletezameen( [zameen._id] )">
                        <!--<i class="icon ion-android-delete"></i>-->
                    </button>

                </div>
                <!--<span ng-bind="time | date:'yyyy-MM-dd HH:mm:ss Z'">  </span>-->
            </div>

            <div class="item" ng-show="zameenList.length == 0">No zameen added</div>

        </ion-list>

    </ion-content>
</ion-view>
