<ion-view view-title="Add Event">
    <ion-content>

        <form name="myForm" ng-submit="addZameen()">
            <div class="list">
                <label name="eventDetail" class="item item-input item-icon-right item-floating-label">
                    <i class="icon ion-asterisk required assertive"></i>
                    <span class="input-label">Event Detail</span>
                    <input type="text" placeholder="Event Detail" required ng-model="newEventObject.eventDetail">
                </label>

                <label name="expanse" class="item item-input item-icon-right item-floating-label">
                    <i class="icon ion-asterisk required assertive"></i>
                    <span class="input-label">Event Expanse</span>
                    <input type="text" placeholder="Event Expanse" ng-model="newEventObject.expanse">
                </label>

                <!--<label name="compnayName" class="item item-input item-floating-label">-->
                <!--<span class="input-label">Company Name</span>-->
                <!--<input type="text" placeholder="company name" ng-model="newZameenObject.companyName">-->
                <!--</label>-->

                <!--<label name="email" class="item item-input item-icon-right item-floating-label">
                    <i class="icon ion-asterisk required assertive"></i>
                    <span class="input-label">Type</span>
                    <input type="email" placeholder="email" required ng-model="newZameenObject.email">
                </label>-->

                <button class="button button-full button-balanced" type="submit">signup</button>

            </div>
        </form>

    </ion-content>

</ion-view>