<ion-view view-title="Add Zameen">
    <ion-content>

        <form name="myForm" ng-submit="addZameen()">
            <div class="list">
                <label name="title" class="item item-input item-icon-right item-floating-label">
                    <i class="icon ion-asterisk required assertive"></i>
                    <span class="input-label">Zameen Title</span>
                    <input type="text" placeholder="Zameen Title" required ng-model="newZameenObject.title">
                </label>

                <label name="location" class="item item-input item-icon-right item-floating-label">
                    <i class="icon ion-asterisk required assertive"></i>
                    <span class="input-label">Zameen location</span>
                    <input type="text" placeholder="Zameen location" ng-model="newZameenObject.location">
                </label>

                <!--<label name="compnayName" class="item item-input item-floating-label">-->
                <!--<span class="input-label">Company Name</span>-->
                <!--<input type="text" placeholder="company name" ng-model="newZameenObject.companyName">-->
                <!--</label>-->

                <!--<label name="email" class="item item-input item-icon-right item-floating-label">
                    <i class="icon ion-asterisk required assertive"></i>
                    <span class="input-label">Type</span>
                    <input type="email" placeholder="email" required ng-model="newZameenObject.email">
                </label>-->

                <button class="button button-full button-balanced" type="submit">Add</button>

            </div>
        </form>

    </ion-content>

</ion-view>
